// colors

$base-color: rgb(229, 229, 229); // background-color 
$second-color: rgba(244, 244, 244, 1); // color for blocks of section
$third-color: rgba(56, 211, 232, 1); //color for banners

// font-colors
$font-color-normal: rgba(43, 46, 52, 1);
$font-clor-ligth: rgba(126, 131, 140, 1);
$font-clor-bold:  rgba(43, 46, 52, 1);

