font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/euclid-circular-a-cufonfonts/Euclid Circular A Light.ttf"), format("ttf");
  font-weight: 400;
  font-style: normal;
  font-family: "Euclid Circular A";
  src: url("../fonts/euclid-circular-a-cufonfonts/Euclid Circular A Regular.ttf"), format("ttf");
  font-weight: 500;
  font-style: normal;
  font-family: "Euclid Circular A";
  src: url("../fonts/euclid-circular-a-cufonfonts/Euclid Circular A Medium.ttf"), format("ttf");
  font-weight: 600;
  font-style: normal;
}